---
plugins:
  - react
rules:
  no-undef: 0
  no-unused-vars: 0
  react/sort-comp:
    - 0
    - order:
      - lifecycle
      - everything-else
      - rendering
      groups:
        lifecycle:
        - componentDidMount
        rendering:
        - "/^render.+$/"
        - render
